<div class="row">
  <div class="col-md-2 image-container">
    <%= image_tag @movie.image %>
    <p class="text-center">
    <%= link_to "edit", edit_movie_path(@movie) %> | <%= link_to "delete", movie_path(@movie), method: :delete, data: {confirm: "You sure?"} %>      
    </p> 
  </div>
  <div class="col-md-8">
    <h2><%= link_to @movie.title, movie_path(@movie) %> </h2>
    <small>
      Release Date: <b><%= formatted_date(@movie.release_date) %></b> | 
      Director: <b><%= @movie.director %></b> |
      Runtime: <b><%= @movie.runtime_in_minutes %> minutes</b>
    </small>

    <p><br/><%= @movie.description %></p>      
  </div>
  <div class="col-md-2">
    <div class="rating-box text-center">
    Average Rating
    <p class="rating">
      <% if @movie.reviews == [] %>
        N/A
      <% else %>
       <%= @movie.review_average %>
      <% end %> 
    </p> 
    <a href="<%= movie_path(@movie) + '#review'%>">
      <%=@movie.reviews.length%> Review<% if @movie.reviews.length != 1 %>s<% end %>
    </a>
    </div>
  </div>
 
</div>

<hr> 