<br/>
<div class="form-horizontal">


  <%= form_tag(movies_path, method: "get", id:"search-form") do %>
  <div class="form-group">

    <div class="col-sm-5">
    <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
          <%= text_field_tag :text, params[:text], class: "form-control", name: "text" %>
        </div>

    </div>
    <div class="col-sm-3">
      
      <%= select_tag(:runtime_in_minutes, 
      options_for_select([
        ['All runtimes', "All"], 
        ['Under 90 minutes', "< 90"], 
        ['Between 90 and 120 minutes', "90-120"], 
        ['Over 120 minutes', "120+"]
      ]), 
      class: "form-control", name: "runtime_in_minutes") %>
    </div>
    <div class="col-sm-2">
      <%= button_tag "Filter", :name => nil, class: "btn btn-warning" %>
    </div>
    <div class="col-sm-2 text-right">
      <%= link_to "All Movies", movies_path, class: "btn btn-default" %>
    </div>

  </div>

<% end %>
</div>
<hr>






  <% @movies.each do |movie| %>
  <% @movie = movie %>
  <%= render 'movie'%>
  <% end %>



  