<p class="text-center"><%= link_to "Submit a movie!", new_movie_path, :class =>"btn btn-custom" %></p>
<br>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h4 class="panel-title"><span class="glyphicon glyphicon-plus"></span> Filter</h4>
        </a>
      
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">

      <div class="form-horizontal">
        <div class="form-group">
          <div class="col-sm-12 text-left">
            <%= link_to "All Movies", movies_path, class: "btn btn-default" %>
          </div>
        </div>

        <%= form_tag(movies_path, method: "get", id:"search-form") do %>
        <div class="form-group">
          <div class="col-sm-3">
          <%= text_field_tag :title, params[:title], placeholder: "All Titles", class: "form-control", name: "title"  %>
          </div>
          <div class="col-sm-3">
          <%= text_field_tag :director, params[:director], placeholder: "All Directors", class: "form-control", name: "director" %>
          </div>
          <div class="col-sm-3">
            
            <%= select_tag(:runtime_in_minutes, 
            options_for_select([
              ['All runtimes', "All"], 
              ['Under 90 minutes', "< 90"], 
              ['Between 90 and 120 minutes', "90-120"], 
              ['Over 120 minutes', "120+"]
            ]), 
            class: "form-control", name: "runtime_in_minutes") %>
          </div>
          <div class="col-sm-3 text-right">
        <%= button_tag "Search", :name => nil, class: "btn btn-warning" %>
          </div>

        </div>

      <% end %>
      </div>
      <hr>

      </div>
    </div>
  </div>

</div>




  <% @movies.each do |movie| %>
  <% @movie = movie %>
  <%= render 'movie'%>
  <% end %>



  