<p class="text-center"><%= link_to "Submit a movie!", new_movie_path, :class =>"btn btn-custom" %></p>
<br>
<div class="form-horizontal">
  <div class="form-group">
    <div class="col-sm-12 text-left">
      <%= link_to "All Movies", movies_path, class: "btn btn-default" %>
    </div>
  </div>

  <%= form_tag(movies_path, method: "get", id:"search-form") do %>
  <div class="form-group">
    <div class="col-sm-4">
    <%= text_field_tag :title, params[:title], placeholder: "All Titles", class: "form-control", name: "search[title]"  %>
    </div>
    <div class="col-sm-4">
    <%= text_field_tag :director, params[:director], placeholder: "All Directors", class: "form-control", name: "search[director]" %>
    </div>
    <div class="col-sm-4">
      
      <%= select_tag(:runtime_in_minutes, 
      options_for_select([
        ['All runtimes', "All"], 
        ['Under 90 minutes', "< 90"], 
        ['Between 90 and 120 minutes', "90-120"], 
        ['Over 120 minutes', "120+"]
      ]), 
      class: "form-control", name: "search[runtime_in_minutes]") %>
    </div>

  </div>
<div class="form-group">
  <div class="col-sm-12 text-right">
  <%= button_tag "Search", :name => nil, class: "btn btn-custom" %>
  </div>
</div>
<% end %>
</div>



  <% @movies.each do |movie| %>
  <div class="row">
    <div class="col-md-4 image-container"><%= image_tag movie.image %></div>
    <div class="col-md-8">
      <h2><%= link_to movie.title, movie_path(movie) %></h2>
      <h3><%= formatted_date(movie.release_date) %></h3>
      <h4>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h4>
      <p><%= movie.description %></p>
    </div>    
  </div> 
  <hr>
  <% end %>



  