<nav>
  <ul class="pager">
    <li class="previous"><%= link_to "Back to all Movies", movies_path %></li>
  </ul>
</nav>




<div class="row">
  <div class="col-md-4 image-container">
  <%= image_tag @movie.image %> 
  </div>
  <div class="col-md-8">
    <h2><%= @movie.title %> (<%= link_to "edit", edit_movie_path(@movie) %>, <%= link_to "delete", movie_path(@movie), method: :delete, data: {confirm: "You sure?"} %>)</h2>
    <h3><%= formatted_date(@movie.release_date) %></h3>
    <h4>Dir. <%= @movie.director %> | <%= @movie.runtime_in_minutes %> minutes</h4>
    <% if @movie.reviews == [] %>
    <p>No ratings yet!</p>
    <% else %>
    <p><%= @movie.review_average %>/10</p>
    <% end %>
    <p><%= @movie.description %></p>    
  </div>
 
</div>

<hr> 
<h3>Reviews of <em><%= @movie.title %></em></h3>
<% if current_user %>
<div class="well">
  <% if @movie.reviews == [] %>
  No reviews yet!
  <% end %>
  <% @movie.reviews.each do |review| %>

    <p><%= review.text %></p>
    <p>Rating: <strong><%= review.rating_out_of_ten %>/10</strong></p>
    <p class="text-right"><small>- <%= review.user.full_name %></small></p>

  <% end %>
  </div>
  <p class="text-right"><%= link_to "Write a review!", new_movie_review_path(@movie), class: "btn btn-custom" %></p>
<% else %>
  <p>Please <%= link_to "log in", new_session_path %> to see reviews and add your own.</p> 
<% end %>