<div class="row">
  <div class="col-md-12">
    <small>
      <%= link_to "Movies", movies_path %>  / <%=@movie.title%>
    </small>
    <br><br>
  </div>
</div>


<%= render 'movie' %>
<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8">
  <a name="review"></a>
  <% if current_user %>
  <p class="text-right"><%= link_to "Write a review!", new_movie_review_path(@movie), class: "btn btn-custom" %></p>
    <% if @movie.reviews == [] %>
    No reviews yet!
    <% end %>
    <% @movie.reviews.each do |review| %>
    <div class="well">

      <p><%= review.text %></p>
      <p>Rating: <strong><%= review.rating_out_of_ten %>/10</strong></p>
      <p class="text-right"><small>- <%= review.user.full_name %></small></p>
      </div>
    <% end %>

  <% else %>
    <p>Please <%= link_to "log in", new_session_path %> to see reviews and add your own.</p> 
  <% end %>
  </div>
<div class="col-md-2"></div>

</div>