<%= link_to "Back to movie", movie_path(@movie) %><br/>

<h2>Write a review of <em><%= @movie.title %></em>.</h2>

<div class="form-horizontal">
<%= form_for([@movie, @review]) do |f| %>
  <% if @review.errors.any? %>
    <div>
      <%= pluralize(@review.errors.count, "error") %> prevented the review from being saved:
      <ul>
        <% @review.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :text, class: "control-label col-sm-4" %>
    <div class="col-sm-8">
    <%= f.text_area "text", class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :rating_out_of_ten, class: "control-label col-sm-4" %>
    <div class="col-sm-2">
    <%= f.number_field :rating_out_of_ten, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
  <div class="col-sm-offset-4 col-sm-8">
  <%= f.submit "Submit", class: "btn btn-custom" %>
  </div>
  </div>
<% end %>
</div>