<div class="row">
  <div class="col-md-12">
    <small>
      <%= link_to "Movies", movies_path %>  / <%=link_to @movie.title, movie_path(@movie)%> / Write a review
    </small>
    <br><br>
  </div>
</div>


<div class="form-horizontal">
<%= form_for([@movie, @review]) do |f| %>
  <% if @review.errors.any? %>
    <div>
      <%= pluralize(@review.errors.count, "error") %> prevented the review from being saved:
      <ul>
        <% @review.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :text, class: "control-label col-sm-4" %>
    <div class="col-sm-8">
    <%= f.text_area "text", class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :rating_out_of_ten, class: "control-label col-sm-4" %>
    <div class="col-sm-2">
    <%= f.number_field :rating_out_of_ten, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
  <div class="col-sm-offset-4 col-sm-8">
  <%= f.submit "Submit", class: "btn btn-custom" %>
  </div>
  </div>
<% end %>
</div>