<!DOCTYPE html>
<html>
<head>
  <title>RottenMangoes</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="row">
<div class="col-md-12">
  <%= render 'layouts/header' %>  
</div>
</div>
<div class="container">
<div class="row">
<div class="col-md-12 white">
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="row">
    <div class="col-md-6">
    <h1 class="text-left"><a href="/">rotten<br/>mangoes</a></h1>
    </div>
    <div class="col-md-6 text-right">
    <br>
      <%= link_to "Submit a movie!", new_movie_path, :class =>"btn btn-custom" %>

    </div>
    </div>
  <br>
    <% flash.each do |key, value| %>
      <%= content_tag(:p, value) %>
    <% end %>
    <%= yield %>
  </div>
  <div class="col-md-2"></div>
</div>

</div>
</div>
</div>
</body>
</html>