<!DOCTYPE html>
<html>
<head>
  <title>RottenMangoes</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8 white">
<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8">
<h1 class="text-center"><a href="/">Rotten Mangoes</a></h1>
<br>
  <% flash.each do |key, value| %>
    <%= content_tag(:p, value) %>
  <% end %>
  <%= yield %>
</div>
<div class="col-md-2"></div>
</div>
<div class="row">
  <%= render 'layouts/footer' %>
</div>
</div>
<div class="col-md-2"></div>
</div>

</body>
</html>